.dashboard {
  height: 100%;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  text-align: center;
}

.charts {
  display: flex;
  justify-content: center;
  height: 250px;
}

.create-ticket {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

select {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

select option {
  padding: 8px;
}

select:focus {
  border-color: #4c8baf;
}
